@model AddressInputModel

<div class="mb-3">
    <label class="form-check-label" asp-for="Name"></label>
    <input type="text" class="form-control" placeholder="Ev" asp-for="Name" />
    <span asp-validation-for="Name"></span>
</div>
<div class="mb-3">
    <label class="form-check-label" asp-for="Text"></label>
    <input type="text" class="form-control" asp-for="Text" />
    <span asp-validation-for="Text"></span>
</div>
