@model PublisherInputModel
@{
    ViewData["Title"] = "Yayınevi Güncelle";
}

@* ************** Content ************** *@
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Yayınevleri /</span> Yayınevi Güncelle
</h4>

<div class="card mb-4">
    <div class="card-body">
        <form asp-action="Edit">
            <partial name="_FieldsPartial" model="Model" />
            <hr />
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
</div>