
@{
    ViewData["Title"] = "E-Posta Doğrulama";
    Layout = "_ContentNavbarLayout";
    ViewData["navbarHideToggle"] = true;
    ViewData["isMenu"] = false;
    ViewData["menuFixed"] = "";
}

<h2>Üzgünüz</h2>
<p>E-Posta doğrulama işleminizde ...... bir hata oluştu.</p>