@{
    ViewData["Title"] = "Yeni Üyelik";
    Layout = "_ContentNavbarLayout";
    ViewData["navbarHideToggle"] = true;
    ViewData["isMenu"] = false;
    ViewData["menuFixed"] = "";

}

<h4>Teşekkürler</h4>
<p>Yeni üyelik kaydınız ........ e-posta mesajındaki linki ....... doğrulayınız.</p>