@{
    ViewData["Title"] = "Parola Yenileme";
    Layout = "_ContentNavbarLayout";
    ViewData["navbarHideToggle"] = true;
    ViewData["isMenu"] = false;
    ViewData["menuFixed"] = "";
}

<h2>Teşekkürler</h2>
<p>Belirttiğiniz .............. yenileyiniz.</p>