@model Catalog
@{
    ViewData["Title"] = "Yeni Katalog";
}

@* ************** Content ************** *@
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Kataloglar /</span> Katalog Güncelle
</h4>

<div class="card mb-4">
    <div class="card-body">
        <form asp-action="Edit">
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">İSİM</label>
                <input type="text" class="form-control" id="basic-default-fullname" placeholder="Çizgi Roman" asp-for="Name" />
            </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
</div>