@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ödeme Başarılı";
    ViewData["navbarHideToggle"] = true;
    ViewData["isMenu"] = false;
    ViewData["menuFixed"] = "";
    Layout = "_ContentNavbarLayout";
}

<p>Ödemeniz başarıyla tamamlanmıştır</p>