@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                @await Html.PartialAsync("../_Partials/_Macros")
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class='menu-item@(currentPage == "/Admin" || currentPage == "/Admin/Dashboards" ? " active" : "")'>
            <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
                <i class='menu-icon tf-icons bx bx-home-circle'></i>
                <div>Dashboards</div>
            </a>
        </li>
        

        <!-- Components -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Kullanıcılar</span></li>
        <!-- Cards -->
        <li class='menu-item@(currentPage.StartsWith("/Admin/Orders") ? " active" : "")'>
            <a asp-controller="Orders" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div>Siparişler</div>
            </a>
        </li>

        <!-- Forms & Tables -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">İçerik Yönetimi</span></li>
        <!-- Tables -->
        <li class='menu-item@(currentPage.StartsWith( "/Admin/Catalogs") ? " active" : "")'>
            <a asp-controller="Catalogs" asp-action="Index" class="menu-link">
                <i class='menu-icon tf-icons bx bx-category'></i>
                <div>Kataloglar</div>
            </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Admin/Publishers") ? " active" : "")'>
            <a asp-controller="Publishers" asp-action="Index" class="menu-link">
                <i class='menu-icon tf-icons bx bx-receipt'></i>
                <div>Yayınevleri</div>
            </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Admin/Authors") ? " active" : "")'>
            <a asp-controller="Authors" asp-action="Index" class="menu-link">
                <i class='menu-icon tf-icons bx bx-group'></i>
                <div>Yazarlar</div>
            </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Admin/Products") ? " active" : "")'>
            <a asp-controller="Products" asp-action="Index" class="menu-link">
                <i class='menu-icon tf-icons bx bx-book'></i>
                <div>Kitaplar</div>
            </a>
        </li>
    </ul>

</aside>
<!-- / Menu -->
